<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VideoCodecs</key>
	<dict>
		<key>AppleProRes422</key>
		<dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>apcn</string>
			<key>MaximumHeight</key>
			<integer>8192</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>4026531840</integer>
			<key>MaximumResolution</key>
			<integer>67108864</integer>
			<key>MaximumWidth</key>
			<integer>8192</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
		</dict>
		<key>AppleProRes422HQ</key>
		<dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>apch</string>
			<key>MaximumHeight</key>
			<integer>8192</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>4026531840</integer>
			<key>MaximumResolution</key>
			<integer>67108864</integer>
			<key>MaximumWidth</key>
			<integer>8192</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
		</dict>
		<key>AppleProRes422LT</key>
		<dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>apcs</string>
			<key>MaximumHeight</key>
			<integer>8192</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>4026531840</integer>
			<key>MaximumResolution</key>
			<integer>67108864</integer>
			<key>MaximumWidth</key>
			<integer>8192</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
		</dict>
		<key>AppleProRes422Proxy</key>
		<dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>apco</string>
			<key>MaximumHeight</key>
			<integer>8192</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>4026531840</integer>
			<key>MaximumResolution</key>
			<integer>67108864</integer>
			<key>MaximumWidth</key>
			<integer>8192</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
		</dict>
		<key>AppleProRes4444</key>
		<dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>ap4h</string>
			<key>MaximumHeight</key>
			<integer>8192</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>4026531840</integer>
			<key>MaximumResolution</key>
			<integer>67108864</integer>
			<key>MaximumWidth</key>
			<integer>8192</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
		</dict>
		<key>AppleProRes4444XQ</key>
		<dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>ap4x</string>
			<key>MaximumHeight</key>
			<integer>8192</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>4026531840</integer>
			<key>MaximumResolution</key>
			<integer>67108864</integer>
			<key>MaximumWidth</key>
			<integer>8192</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
		</dict>
	</dict>
</dict>
</plist>
