<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VideoCodecs</key>
	<dict>
		<key>HEVC1080p120-10Bit</key>
		<dict>
			<key>AppleVideoDRM</key>
			<dict>
				<key>MaximumEncryptionPercentage</key>
				<integer>100</integer>
			</dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>hvc1</string>
			<key>Level</key>
			<integer>150</integer>
			<key>MaximumHeight</key>
			<integer>1920</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>124416000</integer>
			<key>MaximumResolution</key>
			<integer>2073600</integer>
			<key>MaximumWidth</key>
			<integer>1920</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
			<key>PixelDepth</key>
			<integer>10</integer>
			<key>ProfileConstraints</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>100</integer>
				</dict>
				<key>Main10</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>Profiles</key>
			<dict>
				<key>Main</key>
				<integer>1</integer>
				<key>Main10</key>
				<integer>2</integer>
			</dict>
			<key>Tier</key>
			<integer>1</integer>
		</dict>
		<key>HEVC1080p30-10Bit</key>
		<dict>
			<key>AppleVideoDRM</key>
			<dict>
				<key>MaximumEncryptionPercentage</key>
				<integer>100</integer>
			</dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>hvc1</string>
			<key>Level</key>
			<integer>120</integer>
			<key>MaximumHeight</key>
			<integer>1920</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>62208000</integer>
			<key>MaximumResolution</key>
			<integer>2073600</integer>
			<key>MaximumWidth</key>
			<integer>1920</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
			<key>PixelDepth</key>
			<integer>10</integer>
			<key>ProfileConstraints</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>12</integer>
				</dict>
				<key>Main10</key>
				<dict>
					<key>Level</key>
					<integer>93</integer>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Profiles</key>
			<dict>
				<key>Main</key>
				<integer>1</integer>
				<key>Main10</key>
				<integer>2</integer>
			</dict>
			<key>Tier</key>
			<integer>0</integer>
		</dict>
		<key>HEVC4096p120-10Bit</key>
		<dict>
			<key>AppleVideoDRM</key>
			<dict>
				<key>MaximumEncryptionPercentage</key>
				<integer>100</integer>
			</dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>hvc1</string>
			<key>Level</key>
			<integer>153</integer>
			<key>MaximumHeight</key>
			<integer>4096</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>530841600</integer>
			<key>MaximumResolution</key>
			<integer>8847360</integer>
			<key>MaximumWidth</key>
			<integer>4096</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
			<key>PixelDepth</key>
			<integer>10</integer>
			<key>ProfileConstraints</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>160</integer>
				</dict>
				<key>Main10</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>160</integer>
				</dict>
			</dict>
			<key>Profiles</key>
			<dict>
				<key>Main</key>
				<integer>1</integer>
				<key>Main10</key>
				<integer>2</integer>
			</dict>
			<key>Tier</key>
			<integer>1</integer>
		</dict>
		<key>HEVC4096p120-10Bit-2</key>
		<dict>
			<key>AppleVideoDRM</key>
			<dict>
				<key>MaximumEncryptionPercentage</key>
				<integer>100</integer>
			</dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>hvc1</string>
			<key>Level</key>
			<integer>156</integer>
			<key>MaximumHeight</key>
			<integer>4096</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>1069547520</integer>
			<key>MaximumResolution</key>
			<integer>8912896</integer>
			<key>MaximumWidth</key>
			<integer>4096</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
			<key>PixelDepth</key>
			<integer>10</integer>
			<key>ProfileConstraints</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>160</integer>
				</dict>
				<key>Main10</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>240</integer>
				</dict>
			</dict>
			<key>Profiles</key>
			<dict>
				<key>Main</key>
				<integer>1</integer>
				<key>Main10</key>
				<integer>2</integer>
			</dict>
			<key>Tier</key>
			<integer>1</integer>
		</dict>
		<key>HEVC4096p60-10Bit</key>
		<dict>
			<key>AppleVideoDRM</key>
			<dict>
				<key>MaximumEncryptionPercentage</key>
				<integer>100</integer>
			</dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>hvc1</string>
			<key>Level</key>
			<integer>150</integer>
			<key>MaximumHeight</key>
			<integer>4096</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>265420800</integer>
			<key>MaximumResolution</key>
			<integer>8847360</integer>
			<key>MaximumWidth</key>
			<integer>4096</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
			<key>PixelDepth</key>
			<integer>10</integer>
			<key>ProfileConstraints</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>100</integer>
				</dict>
				<key>Main10</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>Profiles</key>
			<dict>
				<key>Main</key>
				<integer>1</integer>
				<key>Main10</key>
				<integer>2</integer>
			</dict>
			<key>Tier</key>
			<integer>1</integer>
		</dict>
		<key>HEVC720p30-10Bit</key>
		<dict>
			<key>AppleVideoDRM</key>
			<dict>
				<key>MaximumEncryptionPercentage</key>
				<integer>100</integer>
			</dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>hvc1</string>
			<key>Level</key>
			<integer>93</integer>
			<key>MaximumHeight</key>
			<integer>1280</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>27648000</integer>
			<key>MaximumResolution</key>
			<integer>921600</integer>
			<key>MaximumWidth</key>
			<integer>1280</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
			<key>PixelDepth</key>
			<integer>10</integer>
			<key>ProfileConstraints</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>10</integer>
				</dict>
				<key>Main10</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Profiles</key>
			<dict>
				<key>Main</key>
				<integer>1</integer>
				<key>Main10</key>
				<integer>2</integer>
			</dict>
			<key>Tier</key>
			<integer>0</integer>
		</dict>
		<key>HEVC8192p30-10Bit</key>
		<dict>
			<key>AppleVideoDRM</key>
			<dict>
				<key>MaximumEncryptionPercentage</key>
				<integer>100</integer>
			</dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>hvc1</string>
			<key>Level</key>
			<integer>180</integer>
			<key>MaximumHeight</key>
			<integer>8192</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>1069547520</integer>
			<key>MaximumResolution</key>
			<integer>35389440</integer>
			<key>MaximumWidth</key>
			<integer>8192</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
			<key>PixelDepth</key>
			<integer>10</integer>
			<key>ProfileConstraints</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>160</integer>
				</dict>
				<key>Main10</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>240</integer>
				</dict>
			</dict>
			<key>Profiles</key>
			<dict>
				<key>Main</key>
				<integer>1</integer>
				<key>Main10</key>
				<integer>2</integer>
			</dict>
			<key>Tier</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
