<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowMultipleEdits</key>
	<true/>
	<key>AudioMaxSampleRate</key>
	<integer>192000</integer>
	<key>TrackTypes</key>
	<array>
		<string>vide</string>
		<string>soun</string>
		<string>clcp</string>
		<string>sbtl</string>
		<string>text</string>
		<string>scen</string>
	</array>
	<key>ValidationType</key>
	<string>RequireOneRecognized</string>
	<key>VideoCodecProfiles</key>
	<dict>
		<key>SVQ3</key>
		<dict>
			<key>VideoMaxPixelsPerFrame</key>
			<integer>76800</integer>
		</dict>
		<key>avc1</key>
		<dict>
			<key>MaxLevel</key>
			<integer>52</integer>
			<key>PerProfileConstraints</key>
			<dict>
				<key>100</key>
				<dict>
					<key>MaxAverageMegabits</key>
					<integer>240</integer>
				</dict>
				<key>66</key>
				<dict>
					<key>MaxAverageMegabits</key>
					<integer>240</integer>
				</dict>
				<key>77</key>
				<dict>
					<key>MaxAverageMegabits</key>
					<integer>240</integer>
				</dict>
			</dict>
			<key>SupportedProfiles</key>
			<array>
				<integer>66</integer>
				<integer>77</integer>
				<integer>100</integer>
			</array>
		</dict>
		<key>dvh1</key>
		<dict>
			<key>SupportedLevels</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
				<string>05</string>
				<string>06</string>
				<string>07</string>
				<string>08</string>
				<string>09</string>
			</array>
			<key>SupportedProfiles</key>
			<array>
				<string>05</string>
				<string>08</string>
			</array>
		</dict>
		<key>h263</key>
		<dict>
			<key>MaxLevel</key>
			<integer>45</integer>
			<key>MaxProfile</key>
			<integer>0</integer>
		</dict>
		<key>hvc1</key>
		<dict>
			<key>MaxLevel</key>
			<integer>186</integer>
			<key>MaxTier</key>
			<integer>1</integer>
			<key>PerProfileConstraints</key>
			<dict>
				<key>1</key>
				<dict>
					<key>MaxAverageMegabits</key>
					<integer>500</integer>
				</dict>
				<key>2</key>
				<dict>
					<key>MaxAverageMegabits</key>
					<integer>500</integer>
				</dict>
				<key>4</key>
				<dict>
					<key>MaxAverageMegabits</key>
					<integer>500</integer>
				</dict>
			</dict>
			<key>SupportedProfiles</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>4</integer>
			</array>
		</dict>
		<key>mp4v</key>
		<dict>
			<key>MaxLevel</key>
			<integer>5</integer>
			<key>MaxProfile</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>VideoMaxHeight</key>
	<integer>8192</integer>
	<key>VideoMaxPixelsPerFrame</key>
	<integer>35651584</integer>
	<key>VideoMaxWidth</key>
	<integer>8192</integer>
	<key>VideoNoInterlacing</key>
	<true/>
	<key>soun</key>
	<array>
		<string>lpcm</string>
		<string>ima4</string>
		<string>aac </string>
		<string>paac</string>
		<string>aaac</string>
		<string>usac</string>
		<string>alac</string>
		<string>.mp3</string>
		<string>samr</string>
		<string>ulaw</string>
		<string>alaw</string>
		<string>ac-3</string>
		<string>pac3</string>
		<string>0x6d730002</string>
		<string>0x6d730011</string>
		<string>0x6d730031</string>
		<string>ec-3</string>
		<string>pec3</string>
		<string>aace</string>
		<string>aacf</string>
		<string>aacg</string>
		<string>aach</string>
		<string>aacl</string>
		<string>aacp</string>
		<string>flac</string>
		<string>opus</string>
	</array>
	<key>text</key>
	<array>
		<string>wvtt</string>
		<string>svtt</string>
	</array>
	<key>vide</key>
	<array>
		<string>hvc1</string>
		<string>dvh1</string>
		<string>avc1</string>
		<string>mp4v</string>
		<string>SVQ3</string>
		<string>ipb </string>
		<string>h263</string>
		<string>dmb1</string>
		<string>jpeg</string>
		<string>drmi</string>
		<string>muxa</string>
		<string>ap4x</string>
		<string>ap4h</string>
		<string>apcn</string>
		<string>apch</string>
		<string>apcs</string>
		<string>apco</string>
	</array>
</dict>
</plist>
