<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VideoCodecs</key>
	<dict>
		<key>HEVC8192p96-10Bit</key>
		<dict>
			<key>AppleVideoDRM</key>
			<dict>
				<key>MaximumEncryptionPercentage</key>
				<integer>100</integer>
			</dict>
			<key>AudioCodecs</key>
			<dict>
				<key>AAC</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>LC</key>
					<dict>
						<key>Multichannel</key>
						<false/>
						<key>VariableBitRate</key>
						<true/>
					</dict>
					<key>MaximumBitRate</key>
					<integer>256</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
				</dict>
				<key>AC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>EnhancedAC3</key>
				<dict>
					<key>AppleDRM</key>
					<true/>
					<key>MaximumSampleRate</key>
					<integer>48000</integer>
				</dict>
				<key>PCM</key>
				<dict>
					<key>Codec</key>
					<string>pcm </string>
					<key>MaximumBitDepth</key>
					<integer>16</integer>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
				<key>USAC</key>
				<dict>
					<key>Codec</key>
					<string>usac</string>
					<key>MaximumSampleRate</key>
					<integer>96000</integer>
					<key>Mono</key>
					<true/>
					<key>Multichannel</key>
					<false/>
					<key>Stereo</key>
					<true/>
				</dict>
			</dict>
			<key>Codec</key>
			<string>hvc1</string>
			<key>Level</key>
			<integer>186</integer>
			<key>MaximumHeight</key>
			<integer>8192</integer>
			<key>MaximumPixelsPerSecond</key>
			<integer>3397386240</integer>
			<key>MaximumResolution</key>
			<integer>35651584</integer>
			<key>MaximumWidth</key>
			<integer>8192</integer>
			<key>MinimumHeight</key>
			<integer>32</integer>
			<key>MinimumWidth</key>
			<integer>32</integer>
			<key>PixelDepth</key>
			<integer>10</integer>
			<key>ProfileConstraints</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>800</integer>
				</dict>
				<key>Main10</key>
				<dict>
					<key>MaximumAverageBitrateMegabits</key>
					<integer>800</integer>
				</dict>
			</dict>
			<key>Profiles</key>
			<dict>
				<key>Main</key>
				<integer>1</integer>
				<key>Main10</key>
				<integer>2</integer>
			</dict>
			<key>Tier</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
