<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNonSelfContained</key>
	<true/>
	<key>AllowedFormatReaders</key>
	<array>
		<string>com.apple.coremedia.formatreader.quicktime-iso</string>
	</array>
	<key>AudioCodecs</key>
	<array>
		<string>aac </string>
	</array>
	<key>TimecodeMustBeInvisible</key>
	<true/>
	<key>TrackTypes</key>
	<array>
		<string>vide</string>
		<string>soun</string>
		<string>clcp</string>
		<string>sbtl</string>
		<string>text</string>
		<string>meta</string>
	</array>
	<key>ValidationType</key>
	<string>IgnoreUnrecognized</string>
	<key>VideoCodecProfiles</key>
	<dict>
		<key>avc1</key>
		<dict>
			<key>MaxLevel</key>
			<integer>99</integer>
			<key>SupportedProfiles</key>
			<array>
				<integer>66</integer>
				<integer>77</integer>
				<integer>100</integer>
			</array>
		</dict>
		<key>hvc1</key>
		<dict>
			<key>MaxLevel</key>
			<integer>153</integer>
			<key>MaxTier</key>
			<integer>1</integer>
			<key>PerProfileConstraints</key>
			<dict>
				<key>1</key>
				<dict>
					<key>MaxAverageMegabits</key>
					<integer>160</integer>
				</dict>
				<key>2</key>
				<dict>
					<key>MaxAverageMegabits</key>
					<integer>160</integer>
				</dict>
			</dict>
			<key>SupportedProfiles</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
	</dict>
	<key>VideoCodecs</key>
	<array>
		<string>avc1</string>
		<string>hvc1</string>
	</array>
	<key>VideoNoFrameReordering</key>
	<false/>
	<key>VideoNoInterlacing</key>
	<false/>
	<key>text</key>
	<array>
		<string>wvtt</string>
		<string>svtt</string>
	</array>
</dict>
</plist>
